.landing {
    background-image: url(https://images.unsplash.com/photo-1554224155-1696413565d3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}


.landing button{
    margin-top: 200px;
}
@media (max-width:600px){
    .landing {
        background-image: url(https://images.unsplash.com/photo-1554224155-1696413565d3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        height: 100vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    
    
    .landing button{
        margin-top: 200px;
    }

}