.main-container{
  background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.app-header {
  font-size: 24px;
  color: #fdfdfd;
  margin-bottom: 18px;
}

.form-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.document-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.document-title {
  font-size: 18px;
  color: #333;
}
.title-span:hover{
  color: #176B87;
}

.document-description {
  margin-top: 10px;
  color: #666;
}

.delete-button,
.action-button {
  margin-left: 150px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.delete-button:hover{
  background-color:#A9A9A9;
}

.update-input {
  margin-right: 10px;
}
.foot{
margin-top: 0px;
height: 50vh;
}
.delete{
  margin-left: 280px;
}
.delete:hover{
  background-color: black;
}
.JW{
  background-image: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

@media (max-width: 600px) {
}
